
#main {
    width: 700px;
    display: block;
    margin: 0px auto;
    padding: 30px;
    font-family: Interstate, 'Lucida Grande', Helvetica, Arial, sans-serif;    
}

hr {
}

img.logo {
    margin-bottom: -15px;
}

h2.title {
    margin: 10px 10px 10px 10px;
    display: inline;
    position: relative;
    top: 14px;
    font-size: 22px;
}

h4 {
    margin: 22px 0 5px 0;
}

img.thumbnail {
   width: 40px;
   margin-right: 5px;
}

.search-container {
    margin-bottom: 24px;
}

input.searchquery {
}

.searchbox {
    margin: 20px 0px 13px 0px;
}

ul.searchlist {
    padding-left: 0px;
}

ul.searchlist > li {
    list-style-type: none;
    cursor: pointer;
}

ul.searchlist > li .item {
    background-color: #f6f6f6;
    height: 40px;
    margin-bottom: 3px;
    border: 1px solid #e0e0e0;
}

ul.searchlist > li .item:hover {
    background-color: #e0e0e0;
}

ul.searchlist > li .item:hover img {
    opacity: 0.5;
}

ul.searchlist > li .title {
}

ul.searchlist > li .user {
    color: #a0a0a0;
    font-size: 90%;
}

.playlist-container {
    margin-bottom: 28px;
}

ul.playlist {
    padding-left: 0px;
}

ul.playlist > li {
    width: 100%;
    list-style-type: none;
    cursor: pointer;
}

ul.playlist > li .item {
    background-color: #f6f0e6;
    height: 40px;
    margin-bottom: 3px;
    border: 1px solid #e0dad0;
}
ul.playlist > li .item:hover {
    background-color: #e0dad0;
}

ul.playlist > li .item.playing {
    background-color: #a0f0a0;
}
ul.playlist > li .item.playing:hover {
    background-color: #90e090;
}

ul.playlist > li .item.paused {
    background-color: #f0a0a0;
}
ul.playlist > li .item.paused:hover {
    background-color: #e09090;
}

ul.playlist > li .item:hover img {
    opacity: 0.5;
}

ul.playlist > li .track {
}


ul.playlist > li .buttons {
    text-align: right;
    padding: 0px 10px 0px 10px;
    visibility: hidden;
}

ul.playlist > li:hover .buttons {
    visibility: visible;
}

ul.playlist > li .title {
}

ul.playlist > li .user {
    color: #a0a0a0;
    font-size: 90%;
}

.wrapper {
    position: relative;
}
.right, .left {
    position: absolute;
}
.right{
    right: 0;
}
.left {
    left: 0;
}

