
body {
    margin: 0;
}

/* Placeholders. */
:-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}






/*-------------------- #main ----------------------*/

#main {
    display: block;
    margin: 0px auto;
    padding: 1px;
    font-family: Interstate, 'Lucida Grande', Helvetica, Arial, sans-serif;
}

#main div {
    /* No text selection in divs. */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none; /* not implemented in browsers yet */
    user-select: none; /* not implemented in browsers yet */
}

#main hr {
    background-color: #f0f0f0;
    border: 0px solid #f0f0f0;
    padding: 1px;
}

#main h4 {
    margin: 22px 0 5px 0;
}

.sliding {
    position: fixed;
    width: 100%;
    top: 50%;
}

#top {
    top: 0px;
    background-color: white;
    height: 50%;
    overflow: scroll;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#line1 {
    background-color: black;
    height: 4px;
    z-index: 2000;
}

#line2 {
    background-color: grey;
    opacity: 0.5;
    height: 8px;
    z-index: 2001;
}

#line3 {
    background-color: grey;
    opacity: 0.2;
    height: 12px;
    z-index: 2002;
}

#bottom {
    height: 50%;
    overflow: scroll;
}




/*-------------------- #top ----------------------*/

#titlebar {
    cursor: pointer;
}

img#logo {
    margin: -6px 0px -15px 0px;
}

h2#title {
    margin: 10px 10px 10px 10px;
    display: inline;
    position: relative;
    top: 11px;
    font-size: 22px;
}


.search-container {
    margin-bottom: 24px;
}

.searchbox {
    margin: 20px 0px 13px 0px;
    width: 60%; /*208px;*/
    height: 40px;
    position: relative;
    font-size: 12px;
    line-height: 16px;
}

input.searchquery {
    width: 100%;
    border: 1px solid #ccc;
    padding: 9px 90px 8px 9px;
    font-size: 18px;
    box-shadow: inset 1px 2px 4px rgba(100,100,100,.1);
}

button.searchbutton {
    background: url('/soundcloud-list/app/img/search.png') center 9px no-repeat;
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    right: -100px;
    top: 0;
    padding: 0;
    border: 0;
    line-height: normal;
}

button.clearbutton {
    background: url('/soundcloud-list/app/img/delete.png') center 9px no-repeat;
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    right: -60px;
    top: 0;
    padding: 0;
    border: 0;
    line-height: normal;
}

.no-touch .searchbox button:hover {
    opacity: 0.6;
}

ul.search-items {
    padding-left: 0px;
}

ul.search-items > li {
    list-style-type: none;
    cursor: pointer;
}

ul.search-items > li .item {
    background-color: #f6f6f6;
    height: 40px;
    margin-bottom: 3px;
    border: 1px solid #e0e0e0;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.no-touch ul.search-items > li .item:hover {
    background-color: #e0e0e0;
}

.no-touch ul.search-items > li .item:hover img {
    opacity: 0.5;
}

ul.search-items > li .track {
}

ul.search-items > li .thumbnail-container {
    width:40px;
    height:40px;
    margin: 0 10px 0 0;
    padding:0;
    border:0;
    float: left;
}

ul.search-items > li img.thumbnail {
   width: 40px;
}

ul.search-items > li .title {
    font-weight: bold;
}

ul.search-items > li .upperrow {
    width: 100%;
    height: 18px;
}
ul.search-items > li .user {
    font-size: 13px;
    width: 50%;
    float: left;
}
ul.search-items > li .genre {
    padding-left: 10px;
    font-size: 13px;
    width: 200px;
    float: left;
}
ul.search-items > li .duration {
    padding-left: 10px;
    font-size: 11px;
    color: #808080;
    float: left;
}
ul.search-items > li .date {
    padding-left: 10px;
    font-size: 13px;
    width: 200px;
    float: left;
}








/*-------------------- #bottom ----------------------*/

.playlist-container {
    margin-bottom: 28px;
}

ul.playlist-items {
    padding-left: 0px;
}

ul.playlist-items > li {
    list-style-type: none;
}






/* -------------- playlist item ------------------ */

ul.playlist-items > li .item {
    height: 47px;
    margin-bottom: 3px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.playlist-items > li .track {
    background-color: #f6f6f6;
    height: 47px;
    min-width: 320px;
    overflow: hidden;
}


ul.playlist-items > li .thumbnail-container {
    width: 47px;
    height: 47px;
    float: left;
}

ul.playlist-items > li .thumbnail-container img {
    width: 47px;
    height: 47px;
    cursor: pointer;
}

.no-touch ul.playlist-items > li .thumbnail-container img:hover {
    opacity: 0.5;
}

ul.playlist-items > li .info-container {
    background-color: #f6f6f6;
    height: 47px;
    margin-left: 47px;
    cursor: pointer;
}

.no-touch ul.playlist-items > li .info-container:hover {
    background-color: #e0e0e0;
}

ul.playlist-items > li .upperrow {
    height: 18px;
    overflow: hidden;
    padding-left: 10px;
}

ul.playlist-items > li .user {
    height: 18px;
    width: 50%;
    float: left;
    font-size: 13px;
}

ul.playlist-items > li .duration {
    height: 18px;
    margin-left: 50%;
    font-size: 11px;
    padding-left: 10px;
    padding-top:2px;
    color: #808080;
}

ul.playlist-items > li .title {
    height: 29px;
    font-size: 15px;
    padding-left: 10px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

ul.playlist-items > li .buttons {
    display: none;
}

ul.playlist-items > li .more {
    display: none;
}





/* -------------- playlist item expanded ------------------ */


ul.playlist-items > li .item.expanded {
    height: 92px;
}

ul.playlist-items > li .item.expanded .track {
    height: 92px;
}

ul.playlist-items > li .item.expanded .thumbnail-container {
    width: 92px;
    height: 92px;
}

ul.playlist-items > li .item.expanded .thumbnail-container img {
    width: 92px;
    height: 92px;
}

.no-touch ul.playlist-items > li .item.expanded .thumbnail-container img:hover {
}

ul.playlist-items > li .item.expanded .info-container {
    height:92px;
    margin-left:92px;
}

.no-touch ul.playlist-items > li .item.expanded .info-container:hover {
}

ul.playlist-items > li .item.expanded .upperrow {
    height: 18px;
}

ul.playlist-items > li .item.expanded .user {
    height: 18px;
    font-size: 13px;
}

ul.playlist-items > li .item.expanded .duration {
    height: 18px;
    font-size: 11px;
}

ul.playlist-items > li .item.expanded .title {
    height: 25px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
}

ul.playlist-items > li .item.expanded .buttons {
    height: 49px;
    display: block;
    padding: 6px 15px 2px 10px;
    cursor: default;
    float: left;
}

ul.playlist-items > li .item.expanded .more {
    height: 49px;
    display: block;
    padding: 6px 5px 2px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

ul.playlist-items > li .item.expanded .buttons button {
    border: 1px solid #909090;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #e0e0e0;
    font-size: 12px;
    height: 35px;
    width: 62px;
    margin: 0px;
    cursor: pointer;
}

ul.playlist-items > li .item.expanded .buttons button.remove {
    margin-right: 12px;
}

.no-touch ul.playlist-items > li .item.expanded .info-container:hover .buttons button {
    background-color: #cacaca;
}

.no-touch ul.playlist-items > li .item.expanded .info-container .buttons button:hover {
    background-color: #bababa;
}






/* -------------- playlist item playing/paused ------------------ */


ul.playlist-items > li .item.playing .info-container {
    background-color: #a0f0a0;
}
.no-touch ul.playlist-items > li .item.playing .info-container:hover {
    background-color: #90e090;
}
ul.playlist-items > li .item.playing .buttons button {
    background-color: #8ada8a;
    border-color: #3a8a3a;
}
.no-touch ul.playlist-items > li .item.playing .info-container:hover .buttons button {
    background-color: #7aca7a;
    border-color: #2a7a2a;
}
.no-touch ul.playlist-items > li .item.playing .info-container .buttons button:hover {
    background-color: #6aba6a;
}

ul.playlist-items > li .item.paused .info-container {
    background-color: #ffa090;
}
.no-touch ul.playlist-items > li .item.paused .info-container:hover {
    background-color: #ff9080;
}
ul.playlist-items > li .item.paused .buttons button {
    background-color: #e98a7a;
    border-color: #993a2a;
}
.no-touch ul.playlist-items > li .item.paused .info-container:hover .buttons button {
    background-color: #e97a6a;
    border-color: #992a1a;
}
.no-touch ul.playlist-items > li .item.paused .info-container .buttons button:hover {
    background-color: #d96a5a;
}





/* ---------------------- general classes --------------------- */

.hidden {
    display: none;
}

.leftmargin {
    margin-left: 12px;
}







/* ------------------------ footer ---------------------------- */

footer {
    margin-bottom: 20px;
}

.author {
    float: right;
    margin: 10px 40px 10px 40px;
    font-size: 10px;
    color: #a0a0a0;
}

.author a {
    color: black;
    text-decoration: none;
}
.no-touch .author a:hover {
    color: grey;
    text-decoration: none;
}

.no-touch .soundcloud-link:hover img {
    opacity:0.6;
}





/*-------------------- @media ----------------------*/
        
@media only screen and (max-width: 999px) {
    /* rules that only apply for canvases narrower than 1000px */
}

@media only screen and (device-width: 768px) and (orientation: landscape) {
    /* rules for iPad in landscape orientation */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* iPhone and Android-Smathphones rules here */
    #mobile-detector {
      display: none;
    }
}        
    
