
#main {
    width: 700px;
    display: block;
    margin: 0px auto;
    padding: 30px;
}

.searchbox {
    margin: 10px 0px 10px 0px;
}

ul.searchlist {
    padding-left: 0px;
}

ul.searchlist > li {
    list-style-type: none;
    cursor: pointer;
}

ul.searchlist > li > .title {
}

ul.searchlist > li > .user {
    color: #a0a0a0;
    font-size: 90%;
}

ul.playlist {
    padding-left: 0px;
}

ul.playlist > li {
    list-style-type: none;
    cursor: pointer;
}

ul.playlist > li > .title {
}

ul.playlist > li > .user {
    color: #a0a0a0;
    font-size: 90%;
}
