<div class="item <%= model.get('paused') ? ' paused' : '' %><%= (model.get('playing') ? ' playing' : '') %><%= model.get('expanded') ? ' expanded' : '' %>">
    <div class="track">
        <div class="thumbnail-container">
            <% if(model.get('artwork_url')) { %>
            <img class="thumbnail" src="<%= model.get('artwork_url') %>" />
            <% } else { %>
            <img class="thumbnail" src="<%= defaultThumbnail %>" />
            <% } %>
        </div>
        <div class="info-container">
            <div class="upperrow">
                <div class="user"><%= model.get('user').permalink.substr(0,20) %></div>
                <div class="duration"><%= model.duration() %></div>
                <!--div class="date"><%= model.get('created_at').substr(0,10) %></div>
                <div class="genre"><%= model.get('genre') %></div-->
            </div>
            <div class="title"><%= model.get('title').substr(0,30) %></div>
            <% if(model.get('expanded')) { %>
            <div class="buttons">
                <button class="moveup">UP</button>
                <button class="movedown">DOWN</button>
                <button class="remove">DEL</button>
            </div>
            <% } %>
        </div>
    </div>
</div>
