<div class="item <%
if(model.get('paused')) print(' paused');
if(model.get('playing')) print(' playing');
if(model.get('expanded')) print(' expanded');
%>">
    <div class="track">
        <% if(model.get('artwork_url')) { %>
        <div class="thumbnail-container" style="background-image: url('<%= model.get('artwork_url') %>')" />
        <% } else { %>
        <div class="thumbnail-container" />
        <% } %>
        <div class="info-container">
            <div class="upperrow">
                <div class="user"><%= model.get('user').permalink.substr(0,20) %></div>
                <div class="duration"><%= model.duration() %></div>
            </div>
            <div class="title"><%= model.get('title') %></div>
            <div class="buttons">
                <button class="remove">DEL</button>
                <button class="moveup">UP</button>
                <button class="movedown">DOWN</button>
            </div>
        </div>
    </div>
</div>
